# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.obj

*.suo
*.VC.VC.opendb
*.VC.db
*.sln.DotSettings.user
*.vcxproj.user
*.vsp
*.psess

Debug/
Release/
x64/
Obj/
.svn/
